/*--------------------------------------------------------------
    Header
--------------------------------------------------------------*/

#header-wrapper
{
    position: relative;

    float: left;

    width: 100%;
    margin: 0 0 100px;
    padding: 0;
}

#header
{
    position: relative;
    z-index: 10;

    float: left;

    width: 100%;
    margin: 0;
    padding: 0;
}

.home #header-wrapper #header,.blog #header-wrapper #header {

 position: relative;

}

#header-wrapper #header {

position: absolute;

}

#header-wrapper #header:only-child .wdt-no-header-builder-content
{
    position: relative;
}

#header-wrapper #header:only-child .wdt-no-header-builder-content:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;

    display: inline !important;

    width: 9999px;
    height: 100%;

    content: '';
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    pointer-events: none;

    background-color: inherit;
}

.wdt-no-header-builder-content .no-header
{
    position: relative;
    z-index: 1;

    display: -webkit-flex;
    display:    -moz-flex;
    display: -ms-flexbox;
    display:     -ms-flex;
    display:         flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -ms-flex-align: center;
    justify-content: space-between;
}

.wdt-no-header-builder-content .no-header .no-header-title
{
    width: 30%;
}

.wdt-no-header-builder-content .no-header .no-header-title:only-child
{
    display: flex;
    justify-content: center;

    width: 100%;
}

.wdt-no-header-builder-content .no-header .no-header-title > a
{
    font-family: var(--wdtFontTypo_Alt);
    font-size: var(--wdtFontSize_H2);
    font-weight: bold;

    display: inline-block;

    width: auto;
}

.wdt-no-header-builder-content .no-header .no-header-title > a,
.wdt-no-header-builder-content .no-header .no-header-title > a:focus
{
    text-decoration: none;
}

.wdt-no-header-builder-content .no-header .no-header-title a img,
.wdt-logo-container a img
{
    max-width: 110px;
}

.wdt-no-header-builder-content .no-header .no-header-title .alternate_logo
{
    display: none;
}

.wdt-no-header-builder-content .no-header .no-header-title h2
{
    margin: 10px 0;
}


.wdt-no-header-builder-content .no-header .no-header-title > a:focus,
.wdt-no-header-builder-content .no-header .mobile-nav-container .menu-trigger:focus
{
    outline: none;
}

.wdt-no-header-builder-content .no-header .mobile-nav-container .menu-trigger:focus
{
    outline: none;
}

.wdt-no-header-builder-content .no-header .no-header-logo 
{
    margin: 20px 0;
}

.wdt-no-header-builder-content .no-header .no-header-logo img 
{
    max-width: 150px;
    width: 150px;
}

/*--------------------------------------------------------------
    Header Menu Navigation
--------------------------------------------------------------*/

.wdt-header-menu ul > li,
.wdt-header-menu ul > li a,
.wdt-header-menu ul > li > a:before,
.wdt-header-menu ul > li > a:after,
.wdt-header-menu ul > li a > span,
.wdt-header-menu ul > li a > span:before
{
    -webkit-transition: var(--wdtBaseTransition);
            transition: var(--wdtBaseTransition);
}

.wdt-header-menu,
.wdt-header-menu ul
{
    width: 100%;
    margin: 0;
    padding: 0;
}

.wdt-header-menu > ul
{
    text-align: inherit;
}
.wdt-header-menu ul ul
{
    text-align: left;
}

.wdt-no-header-builder-content.aligncenter .no-header .wdt-header-menu,
.wdt-no-header-builder-content.aligncenter .no-header .wdt-header-menu > ul
{
    text-align: center;
}

.wdt-header-menu,
.wdt-header-menu li
{
    font-size: 0;
    line-height: 0;

    display: inline-block;

    vertical-align: middle;
}

.wdt-header-menu li
{
    line-height: normal;

    position: relative;

    margin: 0;
    padding: 0;
}

.wdt-header-menu li a,
.wdt-header-menu ul li ul.children > li > a,
.wdt-header-menu ul li ul.sub-menu > li > a,
.wdt-header-menu ul li.has-mega-menu ul li.menu-item-object-wdt_mega_menus li a
{
    font-size: var(--wdtFontSize_Ext);
    line-height: 1.8;

    text-transform: none;
}

.wdt-header-menu ul li.has-mega-menu ul li.menu-item-object-wdt_mega_menus li:not(:last-child) a
{
    margin: 0 0 10px;
}

.wdt-header-menu li a:not(:focus),
.wdt-header-menu ul li ul.children > li > a:not(:focus),
.wdt-header-menu ul li ul.sub-menu > li > a:not(:focus)
{
    text-decoration: none;
}

.wdt-header-menu ul li ul.children > li > a,
.wdt-header-menu ul li ul.sub-menu > li > a,
.wdt-header-menu ul li.has-mega-menu ul li.menu-item-object-wdt_mega_menus li a
{
    font-size: .9rem;

    margin: 0;
    padding: 0;
}

.wdt-header-menu ul li.has-mega-menu > ul .elementor-section-stretched
{
    left: 0 !important;

    width: auto !important;
}

.wdt-header-menu ul li.has-mega-menu ul li.menu-item-object-wdt_mega_menus .elementor-heading-title
{
    font-size: var(--wdtFontSize_H6);

    margin: 0;
    padding: 0 0 10px;

    color: var(--wdtHeadAltColor);
    border-bottom: 2px solid;
}

.wdt-header-menu .wdt-primary-nav > li > a
{
    display: inline-block;

    padding: 0 15px;

    vertical-align: middle;
}

.wdt-header-menu .wdt-primary-nav > li > a:empty
{
    display: none;
}

.wdt-header-menu .wdt-primary-nav > li:last-child > a
{
    padding-right: 0;
}

.wdt-header-menu ul li ul.children > li > a,
.wdt-header-menu ul li ul.sub-menu > li > a,
.wdt-header-menu ul li.has-mega-menu ul.menu > li > a
{
    padding: 10px 15px;

    border-bottom: 1px solid;
}

.wdt-header-menu ul li ul.children > li:last-child > a,
.wdt-header-menu ul li ul.sub-menu > li:last-child > a,
.wdt-header-menu ul li.has-mega-menu ul.menu > li:last-child > a
{
    border-bottom-width: 0;
}

.wdt-header-menu ul li ul.children,
.wdt-header-menu ul li ul.sub-menu,
.wdt-header-menu ul li.has-mega-menu > ul
{
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;

    margin: 0;
    padding: 0;

    -webkit-transition: all .1s ease-in;
            transition: all .1s ease-in;
    text-align: left;
    pointer-events: none;

    opacity: 0;
    border-top: 3px solid;
    -webkit-border-radius: 0;
            border-radius: 0;
}

.wdt-header-menu ul.children > li:last-child > ul,
.wdt-header-menu ul.children > li:nth-last-child(2) > ul,
.wdt-header-menu ul.sub-menu > li:last-child > ul,
.wdt-header-menu ul.sub-menu > li:nth-last-child(2) > ul
{
    right: 0;
    left: auto;
}

.wdt-header-menu ul li ul.children,
.wdt-header-menu ul li ul.sub-menu
{
    width: 225px;
}

.wdt-header-menu ul li.has-mega-menu > ul
{
    font-size: 14px;

    position: absolute;
    right: auto;
    left: auto;

    width: auto;
    margin: 0 auto;
    padding: 20px 0;
}

.wdt-header-menu li.has-mega-menu ul ul
{
    position: static;

    display: block;
    visibility: visible;

    opacity: 1;
}

.wdt-header-menu li.has-mega-menu ul ul.children,
.wdt-header-menu li.has-mega-menu ul ul.sub-menu
{
    display: none !important;
}

.wdt-header-menu ul li ul.children li,
.wdt-header-menu ul li ul.sub-menu li
{
    margin: 0;
}

.wdt-header-menu ul li ul.children li ul,
.wdt-header-menu ul li ul.sub-menu li ul
{
    top: -3px;
    left: 100%;
}

.wdt-header-menu ul li.menu-item-depth-2 > ul,
.wdt-header-menu ul li.menu-item-depth-4 > ul,
.wdt-header-menu ul li.menu-item-depth-6 > ul,
.wdt-header-menu ul li.menu-item-depth-8 > ul,
.wdt-header-menu ul li.menu-item-depth-10 > ul,
.wdt-header-menu ul > li:nth-child(n+2) ul li.menu-item-depth-1 > ul,
.wdt-header-menu ul > li:nth-child(n+2) ul li.menu-item-depth-3 > ul,
.wdt-header-menu ul > li:nth-child(n+2) ul li.menu-item-depth-5 > ul,
.wdt-header-menu ul > li:nth-child(n+2) ul li.menu-item-depth-7 > ul,
.wdt-header-menu ul > li:nth-child(n+2) ul li.menu-item-depth-9 > ul
{
    right: auto;
    left: 100%;
}

.wdt-header-menu ul li.menu-item-depth-1 > ul,
.wdt-header-menu ul li.menu-item-depth-3 > ul,
.wdt-header-menu ul li.menu-item-depth-5 > ul,
.wdt-header-menu ul li.menu-item-depth-7 > ul,
.wdt-header-menu ul li.menu-item-depth-9 > ul,
.wdt-header-menu ul > li:nth-child(n+2) ul li.menu-item-depth-2 > ul,
.wdt-header-menu ul > li:nth-child(n+2) ul li.menu-item-depth-4 > ul,
.wdt-header-menu ul > li:nth-child(n+2) ul li.menu-item-depth-6 > ul,
.wdt-header-menu ul > li:nth-child(n+2) ul li.menu-item-depth-8 > ul,
.wdt-header-menu ul > li:nth-child(n+2) ul li.menu-item-depth-10 > ul
{
    right: 100%;
    left: auto;
}

.wdt-header-menu ul li.has-mega-menu:last-child > ul,
.wdt-header-menu ul li.has-mega-menu:nth-last-child(2) > ul
{
    right: auto;
    left: 0;
}

.wdt-header-menu ul.children li,
.wdt-header-menu ul.children li a,
.wdt-header-menu ul.sub-menu li,
.wdt-header-menu ul.sub-menu li a
{
    display: inline-block;

    width: 100%;
}

.wdt-header-menu ul li.focus > ul,
.wdt-header-menu ul li:focus > ul,
.wdt-header-menu ul li:hover > ul
{
    display: block;
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}

.wdt-header-menu ul li.menu-item-depth-0 > ul
{
    margin-top: -5px;
}

.wdt-header-menu ul li.menu-item-depth-0.focus > ul,
.wdt-header-menu ul li.menu-item-depth-0:focus > ul,
.wdt-header-menu ul li.menu-item-depth-0:hover > ul
{
    margin-top: 0;
}


/*--------------------------------------------------------------
		Mobile Menu Navigation
	--------------------------------------------------------------*/

.mobile-nav-container .menu-trigger
{
    line-height: 1rem;

    display: inline-block;

    height: 1rem;

    cursor: pointer;
    text-decoration: none;

    color: var(--wdtHeadAltColor);
}

.mobile-nav-container .menu-trigger > i,
.mobile-nav-container .menu-trigger > span
{
    font-size: 1.1rem;

    display: inline-block;

    padding: 0 5px;

    vertical-align: middle;
}

.mobile-nav-container .menu-trigger > i
{
    position: relative;

    width: 18px;
    height: 2px;

    transition: background-color 10ms 300ms ease;

    background-color: currentColor;
}

.mobile-nav-container .menu-trigger > i:before,
.mobile-nav-container .menu-trigger > i:after
{
    position: absolute;
    left: 0;

    width: 100%;
    height: 2px;

    content: '';
    transition: left 300ms 350ms ease, top 300ms 350ms ease, transform 300ms 50ms ease;

    background: currentColor;
}

.mobile-nav-container .menu-trigger > i:before
{
    top: -6px;
}
.mobile-nav-container .menu-trigger > i:after
{
    top: 6px;
}

.nav-is-visible .mobile-nav-container .menu-trigger > i:before,
.nav-is-visible .mobile-nav-container .menu-trigger > i:after
{
    left: -5px;

    -webkit-transition: left 300ms 50ms ease,  top 300ms 50ms ease, transform 300ms 350ms ease;
            transition: left 300ms 50ms ease, top 300ms 50ms ease, transform 300ms 350ms ease;
}


.mobile-menu,
.mobile-menu ul,
.mobile-menu ul li
{
    display: block;

    margin: 0;
    padding: 0;

    text-align: left;
}

.mobile-menu ul li
{
    position: static;
}

.mobile-menu ul > li > a,
.mobile-menu ul ul > li > a
{
    font-size: 16px;
    font-weight: var(--wdtFontWeight_Ext);

    display: block;

    padding: 5px 15px;

    border-width: 1px 0 0;
    border-style: solid;
}

.mobile-menu ul > li > a:not(:focus),
.mobile-menu ul ul > li > a:not(:focus)
{
    text-decoration: none;
}

.mobile-menu ul > li > a:focus,
.mobile-menu ul ul > li > a:focus
{
    text-decoration: none;

    outline: none;
}

.mobile-menu ul > li > a,
.mobile-menu ul ul > li > a
{
    line-height: 42px;

    min-height: 42px;
    padding-top: 0;
    padding-bottom: 0;
}

.mobile-menu ul li.has-mega-menu ul > li > a
{
    padding-right: 0;
    padding-left: 0;
}

.mobile-menu,
.mobile-menu > ul,
.mobile-menu > ul ul.children,
.mobile-menu > ul ul.sub-menu,
.mobile-menu > ul ul.children > li > ul,
.mobile-menu > ul ul.sub-menu > li > ul
{
    position: fixed;
    z-index: 5;
    top: 0 !important;
    right: 0 !important;
    left: auto !important;

    display: block;
    visibility: visible;
    overflow-y: visible;

    width: 100%;
    height: 100%;
    margin: 0;

/* overflow-x: hidden; */
    padding: 0;

    -webkit-transition: transform .3s;
            transition: transform .3s;
    -webkit-transform: translateX(0);
            transform: translateX(0);

    opacity: 1;
    border-width: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.mobile-menu
{
    z-index: 999;

    display: none;
    visibility: hidden;

    max-width: 260px;

    -webkit-transition: opacity .25s ease-in-out 0s, visibility .25s ease-in-out 0s, transform .3s ease-in-out .25s;
            transition: opacity .25s ease-in-out 0s, visibility .25s ease-in-out 0s, transform .3s ease-in-out .25s;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);

    opacity: 0;
}

.mobile-nav-offcanvas-right .mobile-menu
{
    right: 0;
}

.mobile-nav-offcanvas-left .mobile-menu
{
    right: auto;
    left: 0;

    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
}

.mobile-menu.is-hidden,
.mobile-menu > ul.is-hidden,
.mobile-menu > ul li ul.is-hidden,
.mobile-menu ul.sub-menu.is-hidden,
.mobile-menu ul.sub-menu li ul.is-hidden
{
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}

.mobile-menu li.has-mega-menu ul ul.children,
.mobile-menu li.has-mega-menu ul ul.sub-menu
{
    display: none !important;
}

.mobile-menu.nav-is-visible
{
    display: block;
    visibility: visible;

    -webkit-transition: -webkit-transform .25s ease-in-out 0s, visibility .3s ease-in-out 0s;
            transition:         transform .25s ease-in-out 0s, visibility .3s ease-in-out 0s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    animation-name: anime-slidein-right;
    -webkit-animation-duration: .75s;
            animation-duration: .75;

    opacity: 1;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.mobile-menu ul
{
    right: auto !important;
    left: auto !important;

    width: 100% !important;
    min-width: 100% !important;
}

.mobile-menu ul li
{
    float: left;

    width: 100%;
}

.mobile-menu ul li.go-back a
{
    height: 100%;
    padding: 0;

    color: inherit !important;
    border-width: 0 !important;
    background: none !important;
}

.mobile-menu ul li.go-back a,
.mobile-menu li[class*='has-children'] > a,
.mobile-menu li[class*='has_children'] > a
{
    position: relative;
}

.mobile-menu li[class*='has-children'] > a,
.mobile-menu li[class*='has_children'] > a
{
    padding-right: 40px;
}

.mobile-menu ul li.go-back,
.mobile-menu ul li.close-nav
{
    line-height: 50px;

    display: inline-block;

    width: 100%;
    height: 50px;
}

.mobile-menu ul ul li.go-back,
.mobile-menu ul ul li.close-nav
{
    width: 50%;
}

.mobile-menu ul li.go-back > a,
.mobile-menu ul li.close-nav > a
{
    width: 50px;

    border: none;
    background: none !important;
}

.mobile-menu ul ul li.go-back > a:focus,
.mobile-menu ul li.close-nav a:focus
{
    outline: none;
}

.mobile-menu ul li.close-nav
{
    position: relative;
    z-index: 5;
    top: 0;
    right: 0;

    float: right;

    cursor: pointer;
    text-align: center;

    border-width: 0 !important;
}

.mobile-menu ul li.close-nav a
{
    line-height: inherit;

    position: relative;

    float: right;

    height: 100%;
    padding: 0;
}
.mobile-menu ul li.close-nav a:hover
{
    background: none;
}

.mobile-menu ul li.close-nav a:before,
.mobile-menu ul li.close-nav a:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 2px;
    height: 35%;
    margin: auto;

    content: '';
}

.mobile-menu ul ul li.go-back:before,
.mobile-menu ul ul li.close-nav a:before,
.mobile-menu ul ul li.go-back:after,
.mobile-menu ul ul li.close-nav a:after
{
    right: 24px;
    left: auto;

    margin: auto 0;
}

.mobile-menu ul li.close-nav a:before
{
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.mobile-menu ul li.close-nav a:after
{
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.mobile-menu ul li.close-nav a:hover:before
{
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.mobile-menu ul li.close-nav a:hover:after
{
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.mobile-menu ul li.go-back a:before,
.mobile-menu ul li.go-back a:after,
.mobile-menu li[class*='has-children'] > a:before,
.mobile-menu li[class*='has-children'] > a:after,
.mobile-menu li[class*='has_children'] > a:before,
.mobile-menu li[class*='has_children'] > a:after
{
    position: absolute;
    top: 50%;

    display: inline-block;

    width: 15px;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.mobile-menu ul li.go-back a:before
{
    font-family: 'Xoha Icons';
    font-size: 24px;
    font-weight: var(--wdtFontWeight_Base);
    line-height: 50px;

    left: 15px;

    height: 50px;

    content: '\f104';
    text-align: center;
}

.mobile-menu ul li.see-all a
{
    padding: 0 15px !important;
}

.mobile-menu li[class*='has-children'] > a:before,
.mobile-menu li[class*='has_children'] > a:before
{
    font-family: 'Xoha Icons';
    font-size: 24px;
    font-weight: var(--wdtFontWeight_Base);
    line-height: 42px;

    right: 12px;

    height: 42px;

    content: '\f105';
    text-align: center;
}

.mobile-menu ul li.go-back a:after,
.mobile-menu li[class*='has-children'] > a:after,
.mobile-menu li[class*='has_children'] > a:after
{
    visibility: hidden;

    height: 2px;

    content: '';

    opacity: 0;
    background-color: currentColor;
}

.mobile-menu ul li.go-back a:hover:before
{
    left: 10px;
}

.mobile-menu li[class*='has-children'] > a:hover:before,
.mobile-menu li[class*='has_children'] > a:hover:before
{
    right: 8px;
}

.mobile-menu ul li.go-back a:after
{
    left: 25px;
}

.mobile-menu ul li.go-back a:hover:after
{
    left: 15px;
}

.mobile-menu li[class*='has-children'] > a:after,
.mobile-menu li[class*='has_children'] > a:after
{
    right: 18px;
}

.mobile-menu li[class*='has-children'] > a:hover:after,
.mobile-menu li[class*='has_children'] > a:hover:after
{
    right: 12px;
}

.mobile-menu-overlay
{
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    cursor: pointer;
    -webkit-transition: opacity .25s ease-in-out 0s, visibility .3s ease-in-out 0s;
            transition: opacity .25s ease-in-out 0s, visibility .3s ease-in-out 0s;

    opacity: 0;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.mobile-menu-overlay.is-visible,
.mobile-menu ul li.go-back a:hover:after,
.mobile-menu li[class*='has-children'] > a:hover:after,
.mobile-menu li[class*='has_children'] > a:hover:after
{
    visibility: visible;

    opacity: 1;
}

.mobile-menu ul li a,
.mobile-menu ul li a:before,
.mobile-menu ul li a:after,
.mobile-menu ul li.close-nav a,
.mobile-menu ul li.close-nav a:before,
.mobile-menu ul li.close-nav a:after
{
    -webkit-transition: var(--wdtBaseTransition);
            transition: var(--wdtBaseTransition);
}

.mobile-menu ul::-webkit-scrollbar
{
    width: 5px;
}

.mobile-menu ul::-webkit-scrollbar-thumb
{
    border-radius: 5px;
}

.mobile-menu li.has-mega-menu ul li[class*='has-children'] > a:before,
.mobile-menu li.has-mega-menu ul li[class*='has_children'] > a:before,
.mobile-menu li.has-mega-menu ul li[class*='has-children'] > a:after,
.mobile-menu li.has-mega-menu ul li[class*='has_children'] > a:after
{
    display: none;
}

.mobile-menu ul li.has-mega-menu ul li.menu-item-object-wdt_mega_menus .elementor-heading-title
{
    font-size: var(--wdtFontSize_H6);

    margin: 10px 0 -25px;
    padding: 5px 15px;

    color: var(--wdtHeadAltColor);
}
.mobile-menu .wdt-header-menu .menu-container
{
    display: block;
    float: left;

    width: 100%;
    margin: 0;
    padding: 0;

    text-align: left;
    ;
}
.mobile-menu .wdt-header-menu .menu-container .wdt-secondary-nav li.go-back,
.mobile-menu .wdt-header-menu .menu-container .wdt-secondary-nav li.close-nav
{
    display: none;
}
.mobile-menu ul li.has-mega-menu .wdt-secondary-nav > li > a
{
    width: 100%;
    padding: 0 15px;

    border-radius: 0;
}
.mobile-menu > ul li.has-mega-menu ul.sub-menu
{
    overflow-x: hidden;
}


.logged-in.admin-bar .mobile-menu
{
    top: 32px !important;
}

@media screen and (max-width: 782px)
{
    /* Login Admin Bar */
    .logged-in.admin-bar .mobile-menu
    {
        top: 46px !important;

        overflow: visible;
    }
    .logged-in.admin-bar .mobile-menu:before
    {
        position: absolute;
        top: -46px;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        background-color: inherit;
    }
}

@-webkit-keyframes anime-slidein-right
{
    0%
    {
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);

        opacity: 1;
    }
}

@keyframes anime-slidein-right
{
    0%
    {
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);

        opacity: 1;
    }
}

/*--------------------------------------------------------------
    Default Colors
--------------------------------------------------------------*/

#header-wrapper #header:only-child .wdt-no-header-builder-content,
.wdt-header-menu ul li ul,
.mobile-menu,
.mobile-menu > ul,
.mobile-menu ul,
.mobile-menu ul li ul
{
    background: var(--wdtBodyBGColor);
}


.mobile-menu ul::-webkit-scrollbar
{
    background-color: #f1f1f1;
}
.mobile-menu ul::-webkit-scrollbar-thumb
{
    background-color: #c1c1c1;
}


.mobile-menu ul li.close-nav a:before,
.mobile-menu ul li.close-nav a:after
{
    background-color: var(--wdtHeadAltColor);
}

.mobile-menu ul li.see-all a
{
    color: inherit !important;
    background-color: rgba(var(--wdtHeadAltColorRgb),.05) !important;
}

.mobile-menu-overlay
{
    background-color: rgba(var(--wdtHeadAltColorRgb),.5);
}



.wdt-header-menu ul li ul.children > li > a,
.wdt-header-menu ul li ul.sub-menu > li > a,
.wdt-header-menu ul li.has-mega-menu ul.menu > li > a
{
    border-color: rgba(var(--wdtHeadAltColorRgb),.15);
}
.mobile-menu li a
{
    border-color: rgba(var(--wdtHeadAltColorRgb),.06);
}


#header-wrapper #header:only-child .wdt-no-header-builder-content:before
{
    background-color: var(--wdtTertiaryColor);
}

.wdt-header-menu ul li ul.children,
.wdt-header-menu ul li ul.sub-menu,
.wdt-header-menu ul li.has-mega-menu > ul
{
    -webkit-box-shadow: 0 0 2px 3px rgba(var(--wdtHeadAltColorRgb),.25);
            box-shadow: 0 0 2px 3px rgba(var(--wdtHeadAltColorRgb),.05);
}

.mobile-menu ul li.see-all a
{
    -webkit-box-shadow: 0 1px 0 0 rgba(var(--wdtHeadAltColorRgb),.06);
            box-shadow: 0 1px 0 0 rgba(var(--wdtHeadAltColorRgb),.06);
}

.mobile-menu ul::-webkit-scrollbar-track,
.mobile-menu ul::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: 0 0 6px rgba(var(--wdtHeadAltColorRgb),.3) inset;
            box-shadow: 0 0 6px rgba(var(--wdtHeadAltColorRgb),.3) inset;
}



.mobile-menu .wdt-dark-bg h1,
.mobile-menu .wdt-dark-bg h2,
.mobile-menu .wdt-dark-bg h3,
.mobile-menu .wdt-dark-bg h4,
.mobile-menu .wdt-dark-bg h5,
.mobile-menu .wdt-dark-bg h6,
.mobile-menu .wdt-dark-bg p
{
    color: var(--wdtHeadAltColor) !important;
}


.mobile-menu > li > a,
.mobile-menu > li ul > li a
{
    color: var(--wdtHeadAltColor);
}


.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li > a,
.wdt-dark-bg .mobile-nav-container .menu-trigger
{
    color: var(--wdtAccentTxtColor);
}



/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

/* Primary Color */
.wdt-header-menu ul li.focus > a,
.wdt-header-menu ul li:focus > a,
.wdt-header-menu ul li:hover > a,
.wdt-header-menu ul li > a:hover,
.wdt-header-menu ul li ul li.focus > a,
.wdt-header-menu ul li ul li:focus > a,
.wdt-header-menu ul li ul li:hover > a,
.wdt-header-menu ul li ul li > a:hover,
.wdt-header-menu ul li.current-menu-item > a,
.wdt-header-menu ul li.current-page-item > a,
.wdt-header-menu ul li.current-menu-ancestor > a,
.wdt-header-menu ul li.current-page-ancestor > a,
.wdt-header-menu ul li.current_menu_item > a,
.wdt-header-menu ul li.current_page_item > a,
.wdt-header-menu ul li.current_menu_ancestor > a,
.wdt-header-menu ul li.current_page_ancestor > a,
.wdt-header-menu ul li ul li.current-menu-item > a,
.wdt-header-menu ul li ul li.current-page-item > a,
.wdt-header-menu ul li ul li.current-menu-ancestor > a,
.wdt-header-menu ul li ul li.current-page-ancestor > a,
.wdt-header-menu ul li ul li.current_menu_item > a,
.wdt-header-menu ul li ul li.current_page_item > a,
.wdt-header-menu ul li ul li.current_menu_ancestor > a,
.wdt-header-menu ul li ul li.current_page_ancestor > a,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li > a:focus,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li > a:hover,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_menu_item > a,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_page_item > a,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current-menu-item > a,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current-page-item > a,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_menu_item > a,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_page_item > a,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_menu_ancestor > a,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_page_ancestor > a,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current-menu-ancestor > a,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current-page-ancestor > a
{
    color: var(--wdtPrimaryColor);
}


.mobile-menu ul li.menu-item > a:hover,
.mobile-menu ul li.menu-item:hover > a,
.mobile-menu ul li.menu-item ul li.menu-item > a:hover,
.mobile-menu ul li.menu-item ul li.menu-item:hover > a,
.mobile-menu ul li.menu-item ul li.menu-item > a:hover,
.mobile-menu ul li.menu-item ul li.menu-item:hover > a,
.mobile-menu ul li.current-menu-item > a,
.mobile-menu ul li.current-page-item > a,
.mobile-menu ul li.current-menu-ancestor > a,
.mobile-menu ul li.current-page-ancestor > a,
.mobile-menu ul li.current_menu_item > a,
.mobile-menu ul li.current_page_item > a,
.mobile-menu ul li.current_menu_ancestor > a,
.mobile-menu ul li.current_page_ancestor > a,
.mobile-menu ul li ul li.current-menu-item > a,
.mobile-menu ul li ul li.current-page-item > a,
.mobile-menu ul li ul li.current-menu-ancestor > a,
.mobile-menu ul li ul li.current-page-ancestor > a,
.mobile-menu ul li ul li.current_menu_item > a,
.mobile-menu ul li ul li.current_page_item > a,
.mobile-menu ul li ul li.current_menu_ancestor > a,
.mobile-menu ul li ul li.current_page_ancestor > a
{
    color: #ffffff;
    background-color: var(--wdtPrimaryColor);
}


/* Primary Border Color */
.no-header-menu ul li ul,
.wdt-header-menu ul li ul.children,
.wdt-header-menu ul li ul.sub-menu,
.wdt-header-menu ul li.has-mega-menu > ul
{
    border-color: var(--wdtPrimaryColor);
}



/*--------------------------------------------------------------
    Responsive
--------------------------------------------------------------*/

@media only screen and (min-width:1541px) and (max-width:1724px)
{
    .wdt-header-menu ul li:not(.has-mega-menu) ul
    {
        width: 180px;
    }

    .wdt-header-menu ul li ul.sub-menu li > a
    {
        font-size: var(--wdtFontSize_Ext);
    }
}

@media only screen and (min-width:1281px) and (max-width:1540px)
{
    .wdt-header-menu ul > li:nth-last-child(-n+3) ul li.menu-item-depth-2 > ul,
    .wdt-header-menu ul > li:nth-last-child(-n+3) ul li.menu-item-depth-4 > ul,
    .wdt-header-menu ul > li:nth-last-child(-n+3) ul li.menu-item-depth-6 > ul,
    .wdt-header-menu ul > li:nth-last-child(-n+3) ul li.menu-item-depth-8 > ul,
    .wdt-header-menu ul > li:nth-last-child(-n+3) ul li.menu-item-depth-10 > ul
    {
        right: auto;
        left: 100%;
    }

    .wdt-header-menu ul > li:nth-last-child(-n+3) ul li.menu-item-depth-1 > ul,
    .wdt-header-menu ul > li:nth-last-child(-n+3) ul li.menu-item-depth-3 > ul,
    .wdt-header-menu ul > li:nth-last-child(-n+3) ul li.menu-item-depth-5 > ul,
    .wdt-header-menu ul > li:nth-last-child(-n+3) ul li.menu-item-depth-7 > ul,
    .wdt-header-menu ul > li:nth-last-child(-n+3) ul li.menu-item-depth-9 > ul
    {
        right: 100%;
        left: auto;
    }

    .wdt-header-menu ul li:not(.has-mega-menu) ul
    {
        width: 180px;
    }

    .wdt-header-menu ul li:not(.has-mega-menu) ul li > a
    {
        font-size: var(--wdtFontSize_Ext);
    }
}

@media only screen and (min-width:1281px)
{
    .wdt-header-menu
    {
        display: inline-block;
    }
    .wdt-header-menu.no-header-menu
    {
        text-align: right;
    }
    .mobile-nav-container,
    .wdt-header-menu ul li.close-nav,
    .wdt-header-menu ul li.go-back,
    .wdt-header-menu ul li.see-all
    {
        display: none;
    }
    .wdt-header-menu.center
    {
        display: table;
    }

    .wdt-header-menu .wdt-primary-nav > li > a
    {
        margin: 30px 0;
    }
}

@media only screen and (max-width: 1280px)
{
    .wdt-header-menu .menu-container
    {
        display: none;
    }
    .wdt-header-menu .mobile-nav-container
    {
        display: block;

        margin: 30px 0;
    }

    .wdt-no-header-builder-content .no-header .no-header-title,
    .wdt-no-header-builder-content .no-header .no-header-logo
    {
        float: left;

        margin: 16px 0;
    }
    .wdt-no-header-builder-content .no-header .no-header-title h2
    {
        text-align: center;
    }
    .wdt-no-header-builder-content .no-header .mobile-nav-container
    {
        font-size: 1rem;
        line-height: normal;

        float: right;

        width: auto;
        margin: 25px 0;
    }
    .elementor-widget-wp-widget-nav_menu .mobile-nav-container
    {
        float: none;

        width: auto;
        margin: 20px 0;
        padding-right: 10px;

        text-align: right;
    }

    body:not(.no-breadcrumb) #header-wrapper.header-top-absolute #header .wdt-header-tpl
    {
        margin-top: 0;
    }

    .mobile-menu ul li.menu-item-object-wdt_mega_menus div[class*='elementor-column-gap'] > .elementor-column > .elementor-element-populated
    {
        padding: 0;
    }
}


@media only screen and (min-width:1024px) and (max-width:1280px)
{
    .wdt-header-menu .mobile-nav-container
    {
        margin: 30px 0;
    }
}


/* Note: Design for a width of 768px */

@media only screen and (min-width:768px) and (max-width:1024px)
{
    .mobile-nav-container .menu-trigger > span
    {
        display: none;
    }
}


/*----*****---- << Mobile (Landscape) > ----*****----*/

/* Common Styles for the devices below 767px width */

@media only screen and (max-width: 767px)
{
    .wdt-no-header-builder-content .no-header-top
    {
        text-align: center;
    }

    .wdt-no-header-builder-content .no-header .no-header-title a,
    .wdt-no-header-builder-content .no-header .no-header-logo a
    {
        font-size: var(--wdtFontSize_Base);

        display: inline-block;

        width: 100%;
    }
    .wdt-no-header-builder-content .no-header .no-header-menu,
    .wdt-no-header-builder-content:not(.aligncenter) .no-header .no-header-title ~ .no-header-menu,
    .wdt-no-header-builder-content:not(.aligncenter) .no-header .no-header-logo ~ .no-header-menu
    {
        line-height: 1.5em;

        color: var(--wdtHeadAltColor);
    }

    .wdt-no-header-builder-content:not(.aligncenter) .no-header .no-header-title ~ .no-header-menu,
    .wdt-no-header-builder-content:not(.aligncenter) .no-header .no-header-logo ~ .no-header-menu
    {
        display: inline-block;

        width: auto;
        margin-left: 15px;
    }

    .wdt-no-header-builder-content .no-header .no-header-logo a img,
    .wdt-logo-container a img
    {
        max-width: 90px;
    }

    .wdt-header-menu .mobile-nav-container
    {
        margin: 0;
    }

    .mobile-nav-container,
    .mfx-no-header-builder-content .no-header .mobile-nav-container
    {
        display: inline-block;
        float: none;

        margin: 0 auto;
    }

    .mobile-nav-container .menu-trigger > span
    {
        display: none;
    }

    .align-inline .elementor-widget-wdt-header-menu,
    .align-inline .elementor-widget-wdt-header-icons
    {
        width: 100% !important;
    }
}


/* Common Styles for the devices below 479px width */

@media only screen and (max-width: 479px)
{
    .wdt-no-header-builder-content .no-header-top,
    .wdt-no-header-builder-content .no-header
    {
        justify-content: space-between;

        text-align: center;
    }
    .wdt-no-header-builder-content .no-header .no-header-title,
    .wdt-no-header-builder-content .no-header .no-header-logo
    {
        display: inline-block;
        float: none;

        width: auto;
    }
    .wdt-no-header-builder-content .no-header .mobile-nav-container
    {
        display: inline-block;
        float: none;

        width: auto;
        margin: 0;
    }

    .wdt-no-header-builder-content .no-header .no-header-menu,
    .wdt-no-header-builder-content:not(.aligncenter) .no-header .no-header-title ~ .no-header-menu,
    .wdt-no-header-builder-content:not(.aligncenter) .no-header .no-header-logo ~ .no-header-menu
    {
        line-height: 1.5em;

        margin: 0;
        padding: 0;
    }

    .wdt-no-header-builder-content .no-header .no-header-logo a img,
    .wdt-logo-container a img
    {
        max-width: 80px;
    }
}
